.categories-list-container {
  padding: 35px;
}

.categories-and-remove-button {
  border-bottom: 1px solid #CEEBD7;
  display: flex;
  font-size: 28px;
  margin-bottom: 25px;
  justify-content: space-between;
}

.categories-and-remove-button h1, .categories-and-remove-button button {
  color: #05AF3C;
}

.categories-list-container ul li {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.categories-list-container ul li a:hover {
  transition: 0.6s;
  color: #05AF3C;
}
