
.navigation-bar, .search-bar-container {
  height: 60px;
  border-bottom: 1px solid #dad7d4;
  display: flex;
}

.navigation-bar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.navigation-bar a {
  padding: 0px 10px;
  height: 100%;
}

.navigation-bar a div {
  height: 62%;
  font-size: 13px;
  font-weight: 500;
}

.navigation-bar a div:hover {
 border-bottom: 3px solid #00C82E;
}

.user-image {
  height: 100%;
  background: #F7F7F9;
  position: relative;
}

.user-image img {
  height: 95%;
}

.user-image:hover {
  cursor: pointer;
}

.user-info-box {
  display: flex;
  position: absolute;
  height: 80px;
  width: 500px;
  top: 61px;
  right: 2px;
  background: #F7F7F9;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 1;
}

.user-info-box button {
  margin-left: 5px;
  font-size: 14px;
  color: blue;
}

.user-info-box div {
  font-weight: bold;
  padding-left: 5px;
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}


.project-logo {
  color: black;
}

.launch-logo {
  color: green;
}

.login-logout-container, .user-image {
  width: 235px;
  display: flex;
  justify-content: flex-end;
}

.explore-and-start {
  width: 235px;
  display: flex;
  justify-content: flex-start;
}

.search-bar-logo {
  height: 45px;
  width: 45px;
}
