.funding-status-container {
  width: 35%;
  margin-left: 10px;
}

.funding-status-container div {
  margin-bottom: 20px;
}

.funding-status-container h2 {
  font-size: 24px;
}

.funding-status-container h4 {
  color: #626369;
  font-size: 18px;
}

.funding-raised h2 {
  color: #05AF3C;
}

.funding-status-container button{
  width: 96.2%;
  height: 50px;
  background: #24ca66;
  border: 1px solid #05AF3C;
  border-radius: 4px;
  color: white;
  font-size: 20px;
}


.funding-status-container button:hover {
  transition: 0.9s;
  background: #0dbf47;
  box-shadow: -3px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
