
.project-intro {
  width: 65%;
  margin: auto;
  margin-top: 55px;
  background: #FBFBFA;
  height: 50%;
}

.owner-and-title {
  display: flex;
}

.owner-and-title span {
  display: block;
  margin-top: 8px;
}

.owner-and-title p {
  display: inline-block;
}

.owner-and-title p:last-child {
  font-weight: bold;
  margin-left: 5px;
}

.owner-info img {
  height: auto;
  width: 55px;
}

.owner-info {

  padding-right: 25px;
}

.title-and-description {
  padding-left: 25px;
}

.title-and-description h2 {
  font-size: 42px;
  font-weight: bold;
}

.title-and-description h3 {
  color: #626369;
}

.main-video-and-funding {
  display: flex;
  margin-top: 25px;
  height: 450px;
}

.main-video-and-funding img {
  width: 65%;
  height: auto;
}

.about-and-support-project {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.about-project {
  width: 42%;
}

.rewards-show-list {
  width: 20%;
}

.rewards-show-list h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.rewards-list-item-not-selected, .rewards-list-item-selected {
  background-color: #F7F7F9;
  font-weight: 400;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

.rewards-list-item-not-selected {
  border: 1px solid #e0e4fb;
}

.rewards-list-item-not-selected:hover{
  cursor: pointer;
  background: #14ce50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rewards-list-item-not-selected:hover h2, .rewards-list-item-not-selected:hover h3,
.rewards-list-item-not-selected:hover h3, .rewards-list-item-not-selected:hover p {
  visibility: hidden;
}


.rewards-list-item-not-selected div:first-child {
  display: none;
  text-align: center;
  align-content: center;
}

.rewards-list-item-not-selected:hover div:first-child {
  display: block;
  position: absolute;
  z-index: 2;
  color: white;
  opacity: 9;
  font-size: 20px;
  text-align: center;
}

.rewards-list-item-not-selected h2, .rewards-list-item-selected h2 {
  color: #586BE9;
  font-size: 22px;
  margin-bottom: 20px;
}

.rewards-list-item-not-selected h3, .rewards-list-item-selected h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

.rewards-list-item-not-selected p, .rewards-list-item-selected p {
  color: #626369;
}

.delivery-info {
  margin-top: 25px;
}

.delivery-info p:first-of-type {
  font-size: 12px;
}

.delivery-info p:last-of-type {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.contribute {
  border-top: 1px dashed #dadada;
  margin-top: 21px;
}

.contribution-count p {
  margin-right: 4px;
}

.rewards-list-item-selected input {
  display: block;
  margin: 10px 0;
  background: white;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #F1EEEA;
  width: 90%;
}

.rewards-list-item-selected button {
  background: #14ce50;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
}

.rewards-list-item-selected {
  border: 1px solid blue
}

.about-project {
  padding-right: 15px;
}

.about-project h2 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

.about-project h2:last-of-type {
  margin-top: 30px;
}

.about-project p {
  line-height: 150%;
}
