.payment-form-container {
  padding-bottom: 50px;
}

.title-and-owner {
  background: #F5F1DE;
  display: flex;
  flex-direction: column;
}

.title-and-owner h1, .title-and-owner h3 {
  text-align: center;
}

.title-and-owner h1 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 50px;
  margin-bottom: 16px;
}

.title-and-owner h3 {
  font-size: 24px;
  padding-bottom: 40px;
}

.title-and-owner h3 {
  font-weight: bold;
  font-size: 24px;
}

.card-form-and-caption {
  width: 60%;
  margin: auto;
  padding-right: 20px;
  /*margin-top: 90px;*/
}

.card-form-and-caption h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-form-and-caption input {
  height: 30px;
  width: 75%;
  border: 1px solid #dcdcdb;
  border-radius: 4px;
}

.card-form-and-caption input:focus {
  border: 1px solid blue;
  transition: 0.9;
}
.button-container {
  border-top: 1px solid  #dcdcdb;
  margin-top: 30px;
}

/*.payment-info-form {
  width: 55%;
}*/

.payment-info-form button{
  display: block;
  background: #25CB68;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  color: white;
  border-radius: 4px;
}

.payment-info-form button:hover {
  background: #05AF3C;
}

.card-form-and-transaction-info {
  display: flex;
  padding-top: 90px;
  width: 50%;
  margin: auto;
}

.experation-and-security {
  display: flex;
}

.security-code {
  margin-left: 10px;
  width: 36%;
}
