/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

button, h1, h2, div, form, section, main, input, a, ul, li {
  border: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: transparent;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.make-account ul {
  margin: auto;
  width: 330px;
  background: #fd003b;
  color: white;
}

.sign-up-container {
  position: relative;
}

.sign-up {
  background: #F7F5F2;
  /*position: absolute;*/
  padding: 120px 20px;
  height: 800px;
  width: 100%;
  box-shadow: inset 2px 1px 20px 0px rgba(0, 0, 0, 0.22);
}

.make-account {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 20px;
  background: white;
  border: 1px 1px 0px 1px solid #F1EEEA;
}

.have-account {
  margin: 0 auto;
  width: 400px;
  background: white;
  height: 30px;
  text-align: center;
  align-content: center;
  background: #F7F6F6;
  border: 1px solid #F1EEEA;
}

.have-account {
  padding-top: 15px;
}
.have-account a {
  color: blue;
  padding-left: 10px;
}

.have-account a:hover {
  color: black;
}

.sign-up section h2 {
  margin: auto;
  width: 350px;
  padding: 10px 0px 5px 20px ;
  font-size: 22px;
}
.sign-up-form {
  /*display: initial;*/
  width: 350px;
  margin: auto;
}

.sign-up-form input{
  display: inline-block;
  margin: 10px;
  width: 330px;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #dad7d4;
}

 .sign-up-button, .guest-button {
  display: block;
  border-radius: 4px;
  margin: 10px;
  width: 330px;
  height: 37px;
  color: white;
  font-size: 15px;
}

.sign-up-button {
  background: #25CB68;
}

.sign-up-button:hover {
  background: #009900;
}

.guest-button {
  background: #336EFF;
  margin: auto;
}

.guest-button:hover {
  background: #334FFF;
}

.sign-up-button:hover, .guest-button:hover {
  cursor: pointer;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 10px;
  height: 40px;
}

.navigation-bar a {
  padding: 0px 10px;
  height: 100%;
}

.navigation-bar a div {
  padding-top: 10px;
  height: 69%
}

.navigation-bar a div:hover {
 border-bottom: 2px solid #00C82E;
}
