/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

button, h1, h2, div, form, section, main, input, a, ul, li, html, body {
  border: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: transparent;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 12px;
}

a:hover, button:hover {
  cursor: pointer;
}

.session ul {
  margin: auto;
  width: 330px;
  background: #fd003b;
  border-radius: 4px;
}

.session li {
  color: white;
  padding: 4px 21px;
  font-size: 15px;
  border-collapse: collapse;
}

.session li:first-child {
  border-top: 4px solid #fd003b;
  border-radius: 4px;
}

.session li:last-child {
  border-bottom: 4px solid #fd003b;
  border-radius: 4px;
}

.session-container {
  /*position: relative;*/
  /*background-color: red;*/
}

.sign-up-or-log-in {
  background: #F7F5F2;
  /*position: absolute;*/
  padding: 120px 20px;
  height: 800px;
  box-shadow: inset 1px 4px 9px -4px rgba(0, 0, 0, 0.22);
}

.session {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 20px;
  background: white;
  border: 1px 1px 0px 1px solid #F1EEEA;
}

.have-account {
  margin: 0 auto;
  width: 400px;
  background: white;
  height: 30px;
  text-align: center;
  align-content: center;
  background: rgb(247, 247, 247);
  border: 1px solid #F1EEEA;
  font-size: 14px;
}

.have-account {
  padding-top: 15px;
}
.have-account a {
  color: blue;
  padding-left: 10px;
}

.have-account a:hover {
  color: black;
}

.sign-up-or-log-in section h2 {
  margin: auto;
  width: 350px;
  padding: 10px 0px 5px 20px ;
  font-size: 22px;
}
.session-form {
  width: 350px;
  margin: auto;
}

.session-form input {
  display: inline-block;
  margin: 10px;
  width: 320px;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #dad7d4;
}

.session-form input[type=text] {
  padding-left: 8px;
  font-size: 12px;
}

 .submit-button, .guest-button {
  display: block;
  border-radius: 4px;
  margin: 10px;
  width: 330px;
  height: 37px;
  color: white;
  font-size: 15px;
}

.submit-button {
  background: #25CB68;
}

.submit-button:hover {
  background: #009900;
}

.guest-button {
  background: #336EFF;
  margin: auto;
}

.guest-button:hover {
  background: #334FFF;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 10px;
  height: 60px;
  border-bottom: 1px solid #dad7d4;
}

.navigation-bar a {
  padding: 0px 10px;
  height: 100%;
}

.navigation-bar a div {
  padding-top: 20px;
  height: 60%;
  font-size: 13px;
  font-weight: 500;
}

.navigation-bar a div:hover {
 border-bottom: 10px solid #00C82E;
}

.user-image {
  height: 100%;
  width: 3%;
  background: #F7F7F9;
  display: flex;
  position: relative;
}

.user-image img {
  margin: auto;
  height: 95%;
}

.user-image:hover {
  cursor: pointer;
}

.user-info-box {
  display: flex;
  position: absolute;
  height: 80px;
  width: 500px;
  top: 69px;
  right: 8px;
  background: #F7F7F9;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.user-info-box button {
  margin-left: 5px;
  font-size: 14px;
  color: blue
}

.user-info-box div {
  font-weight: bold;
  padding-left: 5px;
}
