/*
.inner-slider-container {
}*/

.outer-slider-container {
  height: 500px;
  overflow: hidden;
  border-bottom: 1px solid #DCDEDD;
}

.slick-track img {
  height: 500px;
  width: 100%;
}

/*.slick-initialized {
  display: flex;
}*/

.slick-initialized button{
  position: absolute;
}

.slick-next {
  content: ">";
}
/*.slick-prev {
  top: 0;
}*/
/*
.slider-container {
  margin: auto;
}*/

/*.slick-arrow {
  position: absolute;
  z-index: 1;
  align-items: center;
}*/
