.edit-project-container {
  background: #F7F5F2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 1px 4px 9px -4px rgba(0, 0, 0, 0.22);
}

.basic-info-container, .story-info-container, .rewards-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-project-page-buttons {
  display: flex;
  width: 33%;
  border: 1px solid red;
  justify-content: center;
  height: 125px;
}


.edit-project-page-buttons a, .launch-project-button {
  display: flex;
  height: 55px;
  width: 14%;
  border: 1px solid #dcdcdb;
  border-right: none;
  background: white;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.launch-project-button {
  height: 57px;
  border-right: 1px solid #dcdcdb;
}

.edit-project-page-buttons a:hover, .edit-project-page-buttons button:hover {
  color: blue;
}

.basic-caption, .story-caption, .rewards-caption {
  height: 100px;
  width: 100%;
  border: 1px solid red;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basic-caption h1, .story-caption h1, .rewards-caption h1 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.basic-caption p, .story-caption p, .rewards-caption h1 {
  font-size: 20px;
  text-align: center;
}

.project-image-selector {
  border: 1px dashed blue;
}

.form-and-side-bar {
  border: 1px solid red;
  width: 35%;
  background: white;
}

.basic-info-form section {
  width: 88%;
  background: #F7F7F9;
}

.form-and-side-bar {
  padding: 20px;
}

.form-and-side-bar section {
  height: 120px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.form-and-side-bar input, .form-and-side-bar textarea {
  width: 400px;
  border-radius: 4px;
  margin-left: 47px;
}

.basic-info-form label {
  margin: 12px 0px 0px 19px;
  width: 20%;
  font-weight: bold;
}

.basic-info-form section p {
  width: 401px;
  margin-top: 10px;
  padding-left: 5px;
}

.form-and-side-bar input[type="text"], .form-and-side-bar input[type="number"], .form-and-side-bar textarea {
  background: white;
  border-radius: 4px;
  border: 1px solid #d6d6d5;
  height: 40px;
  margin-top: 5px;
  margin-right: 5px;
  padding-left: 8px;
}

.form-and-side-bar input[type="text"]:focus, .form-and-side-bar input[type="number"]:focus, .form-and-side-bar textarea:focus {
  transition: 0.9s;
  border: 1px solid blue;
}

.form-and-side-bar textarea {
  height: 55px;
  margin-bottom: 5px;
  margin-right: 5px;
}


.save-button {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  border: 1px solid #d6d6d5;
  display: flex;
  justify-content: center;
}

.save-button div {
  width: 711px;
  display: flex;
  justify-content: flex-end;
}

.save-button button {
  margin: 10px 0 10px 0;
  background: #25CB68;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  align-self: flex-end;
}

.save-button button:hover {
  background: #009900;
}

.caption-text {
  display: flex;
  justify-content: flex-end;
}


.product-title, .short-blurb, .funding-goal, .duration {
  display: flex;
}

.basic-info-location {
  height: 50px;
}
