.home-page-almost-funded, .search-results-container {
  padding: 20px;
}

.almost-funded-container, .search-results-container, .popular-projects-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.almost-funded-container > h3, .popular-projects-container > h3 {
  font-size: 24px;
  margin: 18px 0;
}

.almost-funded-container ul, .popular-projects-container ul, .search-results{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/

}

.almost-funded-container ul li, .popular-projects-container ul li, .search-results li {
  margin-bottom: 40px;
  margin-right: 15px;
}
