.mini-project-container {
  width: 322px;
  border: 1px solid #e8e6e2;
  border-radius: 6px;
}

.mini-project-container p {
  color: #3D3D66;
}

.mini-project-image {
  height: 180px;
  display: block;
  overflow: hidden;
}


.mini-project-image img {
  width: 100%;
  height: 180px;
  display: block;
}

.mini-project-text {
  margin: 10px;
}

.mini-project-text h4 {
  font-weight: bold;
  margin-bottom: 7px;
  text-transform: capitalize;
}

.mini-project-text p {
  margin-bottom: 10px;
}

.mini-project-text p:last-child {
  height: 100px;
}

.percentage-pledged {
  height: 100%;
  background: #2BDE73;
  max-width: 100%;
}

.location-and-funding {
  margin-left: 10px;
  margin-top: 35px;
}

.mini-project-location {
  display: flex;
}

.mini-project-location img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.percentage-funded, .pledged, .days-to-go {
  align-items: baseline;
  display: inline-block;
  margin: 11px 5px;
}

.percentage-funded div:first-child, .pledged div:first-child, .days-to-go div:first-child{
  font-weight: bold;
}

.percentage-funded div:last-child, .pledged div:last-child, .days-to-go div:last-child{
  color:#3D3D66;
}

.location-and-funding p {
  margin-bottom: 5px;
}
