button, h1, h2, h3, h4, div, form, section, main, input, a, ul, li, html, body, ol, p, label, textarea {
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  text-decoration: none;
  list-style-type: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

image {
  display: block;
  height: auto;
}

a:hover, button:hover {
  cursor: pointer;
}

body {
  font-family: inherit;
  box-sizing: content-box;
}

a {
  color: black;
}

a:active {
  color: black;
}

textarea {resize: none}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
