// Place all the styles related to the rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rewards-and-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rewards-and-form div {
  margin: 10px;
  border-radius: 4px;
}

.add-reward-button {
  width: 591.484px;
  border: 1px dashed #dcdcdb;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.add-reward-button p {
  margin: 3px;
}

.add-reward-button p:first-child {
  font-weight: 900;
}

.add-reward-button:hover {
  background: #F7F7F9;
  color: blue;
}

.current-rewards {
  margin-bottom: 5px;
}

.reward-number label {
  font-weight: bold;
  margin-right: 70px;
}

.current-reward-info {
  background: white;
  padding-left: 10px;
  width: 400px;
  border: 1px solid #dcdcdb;
}

.current-reward-info h3 {
  color: #586BE9;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 17px;
}

.current-reward-info h4 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 14px;
}

.current-reward-info p {
  color: #80809E;
  font-size: 14px;
  margin-top: 10px;
}

.current-reward-info h5 {
  margin-top: 0;
}
