.session ul {
  margin: auto;
  width: 330px;
  background: #fd003b;
  border-radius: 4px;
}

.session li {
  color: white;
  padding: 4px 21px;
  font-size: 15px;
  border-collapse: collapse;
}

.session li:first-child {
  border-top: 4px solid #fd003b;
  border-radius: 4px;
}

.session li:last-child {
  border-bottom: 4px solid #fd003b;
  border-radius: 4px;
}

.session-container {
  /*position: relative;*/
  /*background-color: red;*/
}

.sign-up-or-log-in {
  /*position: absolute;*/
  padding: 120px 20px;
  background: #F7F5F2;
}

.session {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 20px;
  background: white;
  border: 1px 1px 0px 1px solid #F1EEEA;
}

.have-account {
  margin: 0 auto;
  width: 400px;
  background: white;
  height: 30px;
  text-align: center;
  align-content: center;
  background: rgb(247, 247, 247);
  border: 1px solid #F1EEEA;
  font-size: 14px;
}

.have-account {
  padding-top: 15px;
}
.have-account a {
  color: blue;
  padding-left: 10px;
}

.have-account a:hover {
  color: black;
}

.sign-up-or-log-in section h2 {
  margin: auto;
  width: 350px;
  padding: 10px 0px 5px 20px ;
  font-size: 22px;
}
.session-form {
  width: 350px;
  margin: auto;
}

.session-form input {
  display: inline-block;
  margin: 10px;
  width: 320px;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #dad7d4;
}

.session-form input[type=text] {
  padding-left: 8px;
  font-size: 12px;
}

.session-form input:focus {
  transition: 0.9s;
  border: 1px solid blue;
}

 .submit-button, .guest-button {
  display: block;
  border-radius: 4px;
  margin: 10px;
  width: 330px;
  height: 37px;
  color: white;
  font-size: 15px;
}

.submit-button {
  background: #25CB68;
}

.submit-button:hover {
  background: #009900;
}

.guest-button {
  background: #336EFF;
  margin: auto;
}

.guest-button:hover {
  background: #334FFF;
}
